.logo {
  width: 60px;
  transform: rotate(-53deg);
  left: 3px;
  position: absolute;
}

.title {
  font-size: 25px;
  font-weight: 500;
}
.song {
  background: #fafafa;
  margin: 10px 0;
  padding: 6px;
  font-size: 12px;
  color: #2196f3;
  padding: 20px;
  cursor: pointer;
}

.song:hover {
  background: #2196f3;
  color: white;
}

.song--selected {
  background: #2196f3;
  color: white;
}

.song--non-selected {
  background: #fafafa;
  color: #2196f3;
}

.song__length {
  float: right;
}

.song__details {
  padding: 20px;
  background: #fafafa;
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
}

.song__name, .song__artist {
  font-size: 14px;
}

.sub-text {
  margin: 0 8px;
  font-size: 10px;
}

.song__album-art {
  margin: 8px 0 20px 0;
  width: 250px
}

.song__detail {
  margin: 8px 0;
}

.label {
  font-size: 12px;
}
.value {
  font-weight: 500
}
.audio-player__container {
  text-align: center;
  height: 100px;
  margin: 1em 0em 3em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
}

.audio-player {
  background: #fafafa;
  width: 100%;
  padding: 0 20px;
}


.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}
